process {
	withLabel: onlocal {
		executor = "local"
        errorStrategy ='retry'
        maxRetries = 3
        maxForks = 5
	}
	
	executor = "slurm"
	clusterOptions = "--qos hubbioit"
	queue = "hubbioit"
	beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh'
	module = "bowtie2/2.3.4.3:sra_sdk/2.9.6:SPAdes/3.12.0:AlienTrimmer/0.4.0"

}

timeline.enabled = true
report.enabled = true
